<div class="wrapper col2">
  <div id="featured_slide_">
    <ul id="featured_slide_Content">
      <li class="featured_slide_Image"><a href="gallery.html"><img src="/assets/image1.jpg" alt="" /></a>
        <div class="introtext">
          <h2>Picture 1 Title</h2>
          <p>This is a W3C standards compliant free website template from <a href="http://www.os-templates.com/">OS Templates</a>. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>.</p>
        </div>
      </li>
      <li class="featured_slide_Image"><a href="gallery.html"><img src="/assets/image2.jpg" alt="" /></a>
        <div class="introtext">
          <h2>Picture 2 Title</h2>
          <p>This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>, which allows you to use and modify the template for both personal and commercial use when you keep the provided credit links in the footer.</p>
        </div>
      </li>
      <li class="featured_slide_Image"><a href="gallery.html"><img src="/assets/image3.jpg" alt="" /></a>
        <div class="introtext">
          <h2>Picture 3 Title</h2>
          <p>Short introduction text for Picture 3&hellip;</p>
        </div>
      </li>
      <li class="featured_slide_Image"><a href="gallery.html"><img src="/assets/image4.jpg" alt="" /></a>
        <div class="introtext">
          <h2>Picture 4 Title</h2>
          <p>Short introduction text for Picture 4&hellip;</p>
        </div>
      </li>
      <li class="featured_slide_Image"><a href="gallery.html"><img src="/assets/image5.jpg" alt="" /></a>
        <div class="introtext">
          <h2>Picture 5 Title</h2>
          <p>Short introduction text for Picture 5&hellip;</p>
        </div>
      </li>
      <li class="featured_slide_Image"><a href="gallery.html"><img src="/assets/image6.jpg" alt="" /></a>
        <div class="introtext">
          <h2>Picture 6 Title</h2>
          <p>Short introduction text for Picture 6&hellip;</p>
        </div>
      </li>
      <li class="featured_slide_Image"><a href="gallery.html"><img src="/assets/image7.jpg" alt="" /></a>
        <div class="introtext">
          <h2>Picture 7 Title</h2>
          <p>Short introduction text for Picture 7&hellip;</p>
        </div>
      </li>
      <li class="clear featured_slide_Image">
        <!-- Leave This Empty -->
      </li>
    </ul>
  </div>
</div>